@import 'tailwindcss';

@theme {
  --font-sans: system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont,
    'SF Pro Text', 'Segoe UI', sans-serif;

  --color-bg-body: #020617;
  --color-bg-elevated: #020617;
  --color-bg-card: #020617;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-sans);
  background-color: var(--color-bg-body);
}
